body {
    font-family: 'Roboto', sans-serif !important;
}

h1, h2, h3, h4, h5, h6, .navbar-brand {
    font-family: 'Roboto', sans-serif;
    font-weight: 700; 
}

@media (min-width: 768px) {
    .extra-padding {
        padding-left: 10em !important;
        padding-right: 10em !important;
    }
}